<div class="body-overlay">
  <div class="container">
    <%= link_to "â† Back to Homepage", root_path%>
    <h1 class="title">Staff Sign-in</h1><br>
    <div class="default-font">
      <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
      <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

      <%= form_with url: session_path do |form| %>
        <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
        <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 20 %><br>
        <br>
        <%= form.submit "Sign in" %>
      <% end %>
      <br>

      <%= link_to "Forgot Password?", new_password_path %>
      <%= link_to "New User", sign_up_path %>
    </div>
  </div>
</div>