<h1 class="title">Andy's Cat Database</h1>


<div class="body-overlay">
    <div class="container">

        <div class="link">
            <%= link_to "About Us", about_us_path %>
            <%= link_to "Contact Us", "https://andy-kim2000.dev/" %>
            <%= link_to "Careers", career_page_path %>
            <% if authenticated? %>
                <%= link_to "Add New Cat", new_create_cat_path %>
                <%= link_to "Log Out", session_path, data: { turbo_method: :delete } %>
                <h2> Welcome, <%= current_user.first_name %> </h2>
            <% else %>
                <%= link_to "Staff Login", new_session_path %>
            <% end %>
            
        </div>
        <br>
        <hr>
        
        <div class="scrollable-container">
            <% @cat.each do |cat|%>
                <%# partials are like functions. create them by placing an underscore before, i.e. _cat_card.html.erb. Ruby will automatically know %>
                <%= render partial: "cat_card", locals: { cat: cat} %>
            <% end %>
        </div>
    </div>
    <br>

    <div class="heading">
        <h2>Check out Andy's Personal Website!<h2>
        <iframe src="https://andy-kim2000.dev/" width="800" height="250" title="Andy's Personal Website!">
            <p>Looks like Andy's website is down at the moment. Please contact him to fix this!</p>
        </iframe>
    </div>
</div>